<!-- (selectionChange)="testFunc2($event)"
[selectedIndex]="initialStep" -->
<mat-horizontal-stepper
  #stepper
  headerPosition="bottom"
  labelPosition="bottom"
  linear="true"
  (selectionChange)="cambioPaso($event)"
  [selectedIndex]="pasoInicial"
>
  <mat-step [completed]="pasosStepper[0]" editable="false" optional="false">
    <steps-paso1 (completado)="completarPaso($event)"></steps-paso1>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[1]" editable="false" optional="false">
    <steps-paso2 (completado)="completarPaso($event)"></steps-paso2>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[2]" editable="false" optional="false">
    <steps-paso3 (completado)="completarPaso($event)"></steps-paso3>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[3]" editable="false" optional="true">
    <steps-paso4 (completado)="completarPaso($event)"></steps-paso4>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[4]" editable="false" optional="false">
    <steps-paso5 (completado)="completarPaso($event)"></steps-paso5>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[5]" editable="false" optional="false">
    <steps-paso6 (completado)="completarPaso($event)"></steps-paso6>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="pasosStepper[6]" editable="false" optional="false">
    <steps-paso7 (completado)="completarPaso($event)"></steps-paso7>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <!-- Iconos personalizados -->
  <ng-template matStepperIcon="edit">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="active">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="number">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
