<!-- (selectionChange)="testFunc2($event)"
[selectedIndex]="initialStep" -->
<mat-horizontal-stepper
  #stepper
  headerPosition="bottom"
  labelPosition="bottom"
  linear="true"
  (selectionChange)="cambioPaso($event)"
>
  <mat-step [completed]="paso1Completado" editable="false" optional="false">
    <steps-paso1 (completado)="completarPaso($event)"></steps-paso1>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso2Completado" editable="false" optional="false">
    <steps-paso2></steps-paso2>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso3Completado" editable="false" optional="false">
    <steps-paso3></steps-paso3>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso4Completado" editable="false" optional="true">
    <steps-paso4></steps-paso4>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso5Completado" editable="false" optional="false">
    <steps-paso5></steps-paso5>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso6Completado" editable="false" optional="false">
    <steps-paso6></steps-paso6>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <mat-step [completed]="paso7Completado" editable="false" optional="false">
    <steps-paso7></steps-paso7>
    <stepper-components-botones-siguiente-cancelar
      (reiniciarStepper)="stepper.reset(); reiniciarPasos()"
    ></stepper-components-botones-siguiente-cancelar>
  </mat-step>

  <!-- Iconos personalizados -->
  <ng-template matStepperIcon="edit">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="active">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="number">
    <mat-icon>radio_button_checked</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
